<%- include('header') -%>
<%- include('menu') -%>
    <div class="jumbotron" style="background-color:#8A2BE2">
        <h1>Congratulation!</h1>
        <p>You have successfully submitted your comments!</p>
        <p>We value every feedback from you!</p>
    </div>
    <img src="images/drop.png" alt="a"width="100%">
    <div class="jumbotron" style="background-color:#dfe22b">
      You entered the following.. <hr>
      Your username was:    <%= url %> <hr>
      Your feedbacks were:  <%= comments %><hr>
    </div>
<%- include('footer') -%>
